test_config.json
index.html
tests/db_files/*
build/api/*
build/coverage/*
build/logs/*
build/pdepend/*
build/phpdox/*
cache.properties
._*
tests/settings.json
.php_cs
coverage/*
vendor/*
composer.lock
docs/phpdoc*
.project
all_tests