sudo: false

language: php

php:
  - 7
  - 7.1
  - hhvm
  - nightly

before_script:
  - psql -c 'DROP DATABASE IF EXISTS test;' -U postgres
  - psql -c 'create database test;' -U postgres
  - mysql -e 'create database IF NOT EXISTS test;'
  - composer install

script:
  - mkdir -p build/logs
  - cd build
  - phpunit --coverage-clover build/logs/clover.xml
  - cd ../

after_script:
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml

matrix:
  allow_failures:
    - php: nightly
    - php: hhvm