<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php">
    <filter>
    	<blacklist>
    		<directory suffix=".php">coverage</directory>
			<directory suffix=".php">docs</directory>
			<directory suffix=".php">tests</directory>
			<directory suffix=".php">vendor</directory>
    		<directory suffix=".php">.</directory>
    	</blacklist>
    </filter>
    <testsuites>
        <testsuite name="CoreTests">
            <file>tests/core/core.php</file>
            <file>tests/core/db_qp_test.php</file>
        </testsuite>
        <testsuite name="FirebirdTests">
        	<file>tests/databases/firebird/FirebirdTest.php</file>
        	<file>tests/databases/firebird/FirebirdQBTest.php</file>
        </testsuite>
        <testsuite name="MySQLTests">
        	<file>tests/databases/mysql/MySQLTest.php</file>
        	<file>tests/databases/mysql/MySQLQBTest.php</file>
        </testsuite>
        <testsuite name="PgSQLTests">
            <file>tests/databases/pgsql/PgSQLTest.php</file>
        	<file>tests/databases/pgsql/PgSQLQBTest.php</file>
        </testsuite>
        <testsuite name="SQLiteTests">
            <file>tests/databases/sqlite/SqliteTest.php</file>
        	<file>tests/databases/mysql/SqliteQBTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>